.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
.DS_Store
data/raw/*
data/processed/*
outputs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
